{% extends "base.html" %}
{% load apptags %}
{% block content %}
<table class=table>
  <thead class='thead-dark'>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      {% for term_date in term_dates %}
      <th>{{ term_date.date }}</th>
      {% endfor %}
    </tr>
  </thead>
  {% for cadet in cadets %}
    <tr style="border-color:black">
      <th>{{ cadet.firstname }}</th>
      <th>{{ cadet.lastname }}</th>
    {% for term_date in term_dates %}
      <th>
      <table>
          <!-- Check if cadet has attended on particular date -->
          {% if cadet.pk|filter_cadet_attendance:term_date.pk %}
            <th bgcolor = "green">Present</tr>

            <!-- Check if cadet has worn uniform or not if they attended -->
            {% if cadet.pk|filter_cadet_uniform:term_date.pk %}
                <th bgcolor = "green">Uniform</th>
            {% else %}
                <th bgcolor = "red">None</th>
            {% endif %}

          <!-- Cadet has not attended on particular date -->
          {% else %}
            {% if cadet.pk|filter_cadet_absence:term_date.pk %}
              <th bgcolor= "red">Absent</th>
              <!-- Reason code for not attending on particular date -->
              {% if cadet.pk|filter_cadet_absence_reason:term_date.pk == "E"%}
                <th bgcolor= "red">Exams</th>
              {% elif cadet.pk|filter_cadet_absence_reason:term_date.pk == "R" %}
                <th bgcolor= "red">Religious</th>
              {% elif cadet.pk|filter_cadet_absence_reason:term_date.pk == "O" %}
                <th bgcolor= "red">Other</th>
              {% endif  %}


            <!-- Cadet is not in attendance or absence database, has not joined yet -->
            {% else %}
            <th bgcolor = "white">No Submission</th>
            {% endif %}
          {% endif %}
      </table>
      </th>
    {% endfor %}
    </tr>
  {% endfor %}
</table>


{% endblock content %}
