{% extends "base.html" %}

{% block content %}

<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h1> List of Cadet Information </h1>

    <form method='GET' action=''>
        <div class="form-group">
            <label for="searchKeywords">Search Keywords</label>
            <input type="text" class="form-control" id="search_query" aria-describedby="search_help" placeholder="Enter Search Terms" name='q'>
            <small id="search_help_text" class="form-text text-muted">Enter keywords for search. (name, email, rank, and qualifications)</small>
            <br>
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First group">
                    <button type="submit" class="btn btn-primary mr-1" value='Search'>Submit</button>
                    <form action="/cadets/">
                        <button type="submit" class="btn btn-danger mr-1 ml-1">Reset</button>
                    </form>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <form action="/cadets/add_cadet/">
                            <button type="submit" class="btn btn-success ml-1">Add New Cadet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <br>
    <h1 style=' text-align: center;'> Cadets List </h1>
    <div style="overflow-x:auto;">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th> Edit User </th>
                <th> User Id </th>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Birthday </th>
                <th> Age </th>
                <th> Mobile Number </th>
                <th> Email </th>
                <th> Date Joined </th>
                <th> Years Since Joining </th>
                <th> Bond Payment Date </th>
                <th> Joining Fee Payment Date </th>
                <th> Rank </th>
                <th> Qualifications </th>
                <th> Total Duty Hours </th>
                <th> Number of Events Attended </th>
                <th> Total Traning Hours </th>
                <th> Total Other Hours </th>
                <th> Total Meeting Hours </th>
                <th> Is Active </th>
            </tr>
            </thead>

            <tbody>
            {% for cadet in cadets %}
                <tr>
                    <th style="border-color:black;" scope="row"> <a class="btn btn-primary" href='/cadets/edit_cadet/{{ cadet.user_id }}'>EDIT</a> </th>
                    <th style="border-color:black;"> {{ cadet.user_id }} </th>
                    <td style="border-color:black;"> {{ cadet.firstname }} </td>
                    <td style="border-color:black;"> {{ cadet.lastname }} </td>
                    <td style="border-color:black;"> {{ cadet.birthday }} </td>
                    <td style="border-color:black;"> {{ cadet.age }}  </td>
                    <td style="border-color:black;"> {{ cadet.mobile }} </td>
                    <td style="border-color:black;"> {{ cadet.email }} </td>
                    <td style="border-color:black;"> {{ cadet.date_joined }} </td>
                    <td style="border-color:black;"> {{ cadet.years_since_joined }} </td>
                    <td style="border-color:black;"> {{ cadet.bond_paid }} </td>
                    <td style="border-color:black;"> {{ cadet.joining_fee_paid }} </td>
                    <td style="border-color:black;"> {{ cadet.rank }} </td>
                    <td style="border-color:black;"> {{ cadet.qualification }} </td>
                    <td style="border-color:black;"> {{ cadet.total_duty_hours }} </td>
                    <td style="border-color:black;"> {{ cadet.num_of_events }} </td>
                    <td style="border-color:black;"> {{ cadet.training_hours }} </td>
                    <td style="border-color:black;"> {{ cadet.other_hours }} </td>
                    <td style="border-color:black;"> {{ cadet.meeting_hours }} </td>
                    <td style="border-color:black;"> {{ cadet.is_active }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}